.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  border: none;
  font-size: 0;

  width: 21px;
  height: 20px;

  background-color: black;
}
