.main-nav {
  .indent();
}

.main-nav__toggle {
  position: absolute;
  /*top: 37%;
  height: 2px;
  background-color: black;*/
  right: 9.375%;

  border: none;
  font-size: 0;

  width: 21px;
  /*Открытое меню*/
  top: 9.375%;
  background-color: transparent;
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  width: 21px;
  height: 2px;
  position: absolute;
  background-color: black;
}

/*.main-nav__toggle::before {
  top: 6px;
  left: 0;
}

.main-nav__toggle::after {
  bottom: 6px;
  left: 0;
}*/

/*Открытое меню*/

.main-nav__toggle::before {
  width: 25px;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

.main-nav__toggle::after {
  width: 25px;
  bottom: 0;
  left: 0;
  transform: rotate(-45deg);
}

@media screen and (min-width: @tablet-width) {
  .main-nav {
    width: 52%;
    min-height: 90px;
  }

  .main-nav__wrapper {
    width: 100%;
    .indent();
  }

  .main-nav__toggle {
    display: none;
  }
}

@media screen and (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
