.order {
  width: 100%;
}


.order__title {
  width: 100%;
  box-sizing: border-box;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 8%;
  padding-top: 21%;
  padding-bottom: 25%;
  text-align: center;
  background-color: @icon-grey-color;
}

.order__text {
  margin: 0;
  margin-bottom: 8%;

  padding-left: 10%;
  padding-right: 12%;

  color: @text-color;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.9;
}

.order__text-small {
  margin-bottom: 8%;
}

/* FORM*/

.order__form {
  margin: 0;
  padding: 0;

  .flex-column;
}

.order__form-button {
  width: 81.25%;
  margin: 0 auto;

  padding-left: 0;
  padding-right: 0;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  box-sizing: border-box;

  margin-bottom: 10%;
}

.order__form-fieldset {
  .indent();
  border: 0 none;
}

.fieldset__pad,
.fieldset__color {
  margin-bottom: 5%;
}

.order__form-flex {
  margin: 0;
  padding: 0;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;

  .flex-column;
  justify-content: flex-start;
}

.order__form-flex-odd {
  padding-bottom: 6%;
}

.order__form-legend {
  position: relative;
  overflow: hidden;

  margin: 0;
  margin-bottom: 15px;

  color: @base-color;

  font-size: 17px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
}

.order__form-field {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  .flex-column;
}

.order__form-field:last-child {
  margin-bottom: 0;
}

.order__form-field-checkbox {
  margin-bottom: 6%;
}

.legend-span {
  display: inline-block;
}

.legend-span::after {
  content: "";
  position: absolute;
  top: 30%;

  width: 100%;
  border-top: 1px solid @base-color;

  margin-left: 3%;
}

.order__form-input {
  opacity: 0;
}

.order__form-input + label {
  position: relative;
  display: block;

  margin: 0;
  padding: 5px;

  padding-left: 3.5294em;

  font-size: 17px;
  font-weight: 700;
  line-height: 1;

  cursor: pointer;
}

.order__form-checkbox + label::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 0;
  width: 33px;
  height: 33px;
  border: 2px solid @text-color;
}

.order__form-checkbox:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
}

.order__form-checkbox:focus + label::before,
.order__form-radio:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.order__form-radio + label {
  position: relative;
  padding: 0;
  padding-left: 3.5294em;
}

.order__form-radio + label::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;

  width: 35px;
  height: 35px;
  border: 2px solid @text-color;
  border-radius: 50%;
  background-color: @white-color;
}

.order__form-radio-1 + label::before {
  top: -30%;
}

.order__form-radio:hover + label::before,
.order__form-radio:focus + label::before,
.order__form-checkbox:hover + label::before,
.order__form-checkbox:focus + label::before {
  border-color: @radio-color;
}

.order__form-radio:active + label::before,
.order__form-checkbox:active + label::before {
  opacity: 0.3;
  border-color: @text-color;
}

.order__form-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: @radio-color;
}

.order__form-radio-1:checked + label::after {
  top: 10%;
}

.order__form-input-text {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
  border: none;
  box-shadow: inset 0 -2px 0 @black-color;

  font-size: 17px;
  font-weight: 700;
  line-height: 1;

  &-hover,
  &:hover,
  &-focus,
  &:focus {
    box-shadow: inset 0 -2px 0 @radio-color;
  }

  &-active,
  &:active {
    box-shadow: inset 0 -2px 0 @radio-color;
  }
}

.order__form-input-textarea {
  width: 100%;

  margin-top: 20px;
  margin-bottom: 0;
  padding: 1em;

  box-sizing: border-box;
  box-shadow: inset 0 -2px 0 @black-color;
  border: 2px solid @text-color;
  background-color: @white-color;
  color: @text-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;

  &-hover,
  &:hover,
  &-focus,
  &:focus {
    border-color: @radio-color;
    box-shadow: none;
  }

  &-active,
  &:active {
    border-color: @radio-color;
    box-shadow: none;
  }
}

.order__form-label {
  display: block;
  margin: 0;
  padding-top: 10px;

  font-size: 17px;
  font-weight: 700;
  line-height: 1;
}

.personal-info-flex {
  margin-top: -2%;

  padding-bottom: 0;
  margin-bottom: 12%;
}

.personal-info-field {
  padding: 0;
}

.personal-info-special {
  position: relative;
  margin-bottom: 10%;
}

.personal-info-special-add {
  margin-bottom: 0;
}

.flex__add {
  margin-top: 10%;
}

.personal-info__span {
  position: absolute;
  top: 45%;
  right: 1%;
}

.personal-info__icon-tel,
.personal-info__icon-email {
  fill: @black-color;
  opacity: 0.2;
}

.legend-label {
  margin-bottom: 5px;
}

.flex__contacts {
  margin: 0;
  padding: 0;
}

.input-grey-hover .personal-info__icon-tel,
.input-grey:hover .personal-info__icon-tel,
.input-grey-hover .personal-info__icon-email,
.input-grey:hover .personal-info__icon-email,
.input-grey-focus .personal-info__icon-tel,
.input-grey:focus .personal-info__icon-tel,
.input-grey-focus .personal-info__icon-email,
.input-grey:focus .personal-info__icon-email {
  fill: @hover-color;
}

@media screen and (min-width: @tablet-width) {
  .order {
    position: relative;
  }

  .order__title {
    font-size: 43px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    padding-top: 13%;
    padding-bottom: 12%;
  }

  .order__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.9;
    margin-bottom: 8%;
    padding-right: 10%;
    padding-left: 6%;
  }

  .order__span {
    top: 1%;
  }

  .legend-span {
    display: none;
  }

  .order__form-fieldset {
    position: relative;
    margin-bottom: 0;
  }

  .fieldset__pad {
    margin: 0;
    padding: 6%;
    padding-bottom: 4%;
    box-sizing: border-box;
  }

  .fieldset__color {
    padding: 6%;
    padding-top: 4%;
    padding-right: 4%;
    background-color: @icon-grey-color;
  }

  .personal-info {
    padding: 0;
    padding-top: 6%;
  }

  .fieldset__add {
    width: 100%;
    padding: 6%;
    padding-bottom: 22%;
    padding-left: 28%;
  }

  .order__form-flex {
    .indent();
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex__pad {
    margin-left: 28%;
    margin-top: -10%;
  }

  .flex__color,
  .flex__name {
    margin-left: 26%;
  }

  .flex__color {
    margin-top: 0;
  }

  .flex__name {
    padding-right: 6%;
    margin-bottom: 6%;
  }

  .flex__contacts {
    width: 100%;
    padding: 6%;
    padding-left: 28%;
    background-color: @icon-grey-color;
  }

  .flex__add {
    margin-top: 0;
  }

  .order__form-legend-type {
    position: absolute;
    top: 8%;
    left: 6%;
  }

  .order__form-legend-name {
    position: absolute;
    top: 7.5%;
    left: 6%;
  }

  .order__form-legend-color {
    position: absolute;
    top: 22%;
    left: 6%;
  }

  .legend-label-tel,
  .legend-label-email {
    position: absolute;
    top: 40%;
    left: -35%;
  }

  .legend-label-add {
    position: absolute;
    top: 20%;
    left: -30%;
  }

  .order__form-field {
    margin: 0;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .flex__pad .order__form-field {
    margin-bottom: 6%;
    width: 100%;
  }

  .order__form-field-radio {
    margin-bottom: 2%;
  }

  .order__form-field-checkbox {
    width: 50%;
  }

  .order__form-radio + label,
  .order__form-checkbox + label {
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
  }

  /*radio*/

  .order__form-radio + label::before {
    width: 52px;
    height: 52px;
    top: -80%;
    left: -5%;
  }

  /*checkbox*/

  .order__form-checkbox + label::before {
    top: -40%;
    left: -5%;
    width: 52px;
    height: 52px;

    border: 2px solid @text-color;
  }

  .personal-info-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    margin-bottom: 4%;
    padding: 0;
  }

  .personal-info-special {
    position: relative;
    margin: 0;
    margin-bottom: 6%;
    padding: 0;
  }

  .order__form-label {
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
  }

  .personal-info-field .order__form-label {
    margin-right: 5%;
  }

  .input-grey {
    background-color: @icon-grey-color;
  }

  .order__form-input-textarea {
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
  }

  .order__text-small {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    right: 4%;
    bottom: 4%;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
  }

  .order__form-button {
    max-width: 30%;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    position: absolute;
    left: 6%;
    bottom: 3%;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
  }

  .order__form-checkbox:checked + label::before {
    background-size: 80%;
  }

  .order__form-radio:checked + label::after {
    width: 22px;
    height: 22px;
    top: 15%;
    left: -1.8%;
  }

  .personal-info__span {
    position: absolute;
    top: 20%;
    right: 5%;
  }
}

@media screen and (min-width: @desktop-width) {
  .order__title {
    font-size: 53px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    padding-top: 8%;
    padding-bottom: 10%;
  }

  .order__text {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 6%;
  }

  .order__span {
    top: 4%;
    right: 6%;
  }

  .fieldset__color {
    padding-top: 3%;
    padding-right: 4%;
    padding-bottom: 2%;
    margin-bottom: 4%;
  }

  .fieldset__pad .order__form-field {
    margin-bottom: 1%;
  }

  .fieldset__color .order__form-field {
    padding-top: 0;
  }

  .flex__pad {
    margin-left: 18%;
  }

  .flex__color {
    margin-left: 16%;
  }

  .flex__name {
    margin-left: 20%;
    margin-bottom: 5%;
    padding-bottom: 0;
  }

  .flex__contacts {
    padding-top: 4%;
    padding-bottom: 3%;
    padding-left: 20%;
  }

  .flex__contacts .personal-info-special {
    margin-bottom: 3%;
  }

  .order__form-field-checkbox {
    width: 30%;
  }

  .fieldset__add {
    width: 100%;
    padding: 6%;
    padding-top: 4%;
    padding-right: 20%;
    padding-bottom: 14%;
    padding-left: 20%;
  }

  .flex__contacts,
  .flex__name {
    padding-right: 20%;
  }

  .legend-label-tel,
  .legend-label-email {
    top: 30%;
    left: -18%;
  }

  .legend-label-add {
    top: 8%;
    left: -18%;
  }

  .order__form-button {
    max-width: 20%;
    left: 20%;
    bottom: 3%;
  }

  .order__form-radio + label::before {
    width: 48px;
    height: 48px;
    top: -80%;
    left: -2%;
  }

  .order__form-radio:checked + label::after {
    top: 0;
    left: 0;
    background-color: @radio-color;
  }

  .order__form-legend-type {
    top: 3%;
    left: 10%;
  }

  .order__form-legend-name {
    top: 3%;
    left: 10%;
  }

  .order__form-legend-color {
    top: 25%;
    left: 10%;
  }

  .personal-info {
    padding-top: 0;
    padding-bottom: 0;
  }

  .personal-info-field {
    margin-bottom: 3%;
  }

  .order__text-small {
    right: 0;
    bottom: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
  }

  .personal-info__span {
    right: 2%;
  }
}
