.page-main {
  width: 100%;
}

.page-main__title {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 23%;
  padding-bottom: 45%;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
}

.page-main__span {
  display: none;
  color: @text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.page-main__container {
  width: 100%;
  .indent();
}

.page-main__container-index {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.page-main__border {
  display: none;
}

.page-main__border-image {
  margin-left: -30px;
  max-width: 100%;
}

@media screen and (min-width: @tablet-width) {
  .page-main__title {
    margin: 0 auto;
    padding: 0;
    padding-top: 21%;
    padding-bottom: 50%;
    font-size: 43px;
    font-weight: 700;
    line-height: 1;
  }

  .page-main__container {
    position: relative;
  }

  .page-main__container-index {
    background-image: url("../../img/hero-tablet@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 150% 100%;
  }

  .page-main__container-order,
  .page-main__container-cat {
    margin-bottom: 6%;
  }

  .page-main__span {
    display: block;
    position: absolute;
    top: 3%;
    right: 6%;
  }

  .catalog__span,
  .order__span {
    top: 25%;
  }

  .page-main__border {
    display: block;
    width: 100%;
    .indent();
    height: 24px;
    margin: 0;
    margin-top: -20px;
    padding: 0;
    z-index: 10;
  }

  .page-main__border-order,
  .page-main__border-cat {
    bottom: 24px;
  }

  .page-main__border-image {
    margin-left: -14px;
  }
}

@media screen and (min-width: @desktop-width) {
  .page-main__container {
    max-width: 100%;
  }

  .page-main__container-index {
    background-image: url("../../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 -5%;
  }

  .page-main__container-order,
  .page-main__container-cat {
    margin-bottom: 8%;
  }

  .page-main__title {
    margin: 0 auto;
    padding: 0;
    padding-top: 14%;
    padding-bottom: 31%;
    font-size: 54px;
    font-weight: 700;
    line-height: 1;
  }

  .page-main__span {
    display: block;
    position: absolute;
    top: 3%;
    right: 4%;
  }

  .page-main__border {
    height: 34px;
  }

  .page-main__border-order,
  .page-main__border-cat {
    bottom: 34px;
  }
}
