.page-header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 7%;
  padding-bottom: 7%;
  box-shadow: 0 1px @grey-color, inset 0 1px 0 @grey-color;
  box-sizing: border-box;
  .flex-column;
}

.page-header__logo {
  width: 86px;
  height: 35px;
  margin: auto;
  outline: 3px solid purple;
}

/*Открытое меню
  .page-header {
    padding-bottom: 0;
  }

  .page-header__logo {
    margin-bottom: 7%;
  }*/

.logo__image-hover path,
.logo__image:hover path,
.logo__image-focus path,
.logo__image:focus path {
  opacity: 0.6;
}

.logo__image-active path,
.logo__image:active path {
  opacity: 0.3;
}

.logo__tablet,
.logo__desktop {
  display: none;
}

@media screen and (min-width: @tablet-width) {
  .page-header__logo {
    margin: 0;
    margin-left: 6%;
    margin-top: 2%;
  }

  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: block;
  }

  .page-header {
    position: relative;
    width: 100%;
    min-height: 90px;
    padding: 0;
    box-shadow: transparent;
  }
}

@media screen and (min-width: @desktop-width) {
  .page-header__logo {
    position: absolute;
    top: -10px; //временно для сетки
    left: 40%;
  }

  .logo__tablet {
    display: none;
  }

  .logo__desktop {
    display: block;
  }

  .page-header {
    position: relative;
    width: 100%;
    padding: 0;
    height: 90px; //временно для сетки
    box-shadow: transparent;
  }
}
