.page-footer {
  width: 100%;
  box-sizing: border-box;

  .flex-column;

  background-color: @icon-grey-color;
}

.page-footer__container {
  display: flex;
  padding: 7.8125%;
}

.social__list {
  .list;
  margin: auto;
  font-size: 0;

  width: 45.3125%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright__flex {
  width: 57.5%;
  margin: auto;
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  color: @black-color;
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
}

.copyright__link-icon {
  fill: @base-color;

  &-hover,
  &:hover {
    fill: @hover-color;
  }

  &-focus,
  &:focus {
    fill: @hover-color;
  }

  &-active,
  &:active {
    fill: @hover-color;
    opacity: 0.3;
  }
}

.social-button-icon:hover path,
.social-button-icon:focus path {
  fill: @hover-color;
}

.social-button-icon:active path {
  fill: @hover-color;
  opacity: 0.3;
}

.logo-cont {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .page-footer__container {
    padding: 0;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .logo-cont {
    display: flex;
  }

  .social {
    width: 18.75%;
  }

  .page-footer__logo {
    width: 102px;
    height: 34px;
    margin: auto;
  }

  .copyright__flex {
    width: 100%;
  }

  .footer__logo-image-hover path,
  .footer__logo-image:hover path,
  .footer__logo-image-focus path,
  .footer__logo-image:focus path {
    fill: @hover-color;
  }

  .footer__logo-image-active path,
  .footer__logo-image:active path {
    fill: @hover-color;
    opacity: 0.3;
  }
}

@media screen and (min-width: 1250px) {
  .page-footer {
    padding: 4%;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__container {
    padding: 0;
    flex-grow: 0;
  }

  .copyright {
    width: 16%;
  }

  .social {
    width: 11.6%;
  }

  .social__list {
    width: 100%;
  }
}
