.page-header {
  position: relative;
  width: 100%;
  .indent();
  box-shadow: 0 1px @grey-color, inset 0 1px 0 @grey-color;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin: auto;
  margin-left: 35%;
  margin-right: 20%;
  padding: 2%;
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

@media screen and (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    box-shadow: transparent;
  }

  .page-header__flex-logo {
    width: 48%;
    display: flex;
    .indent();
  }

  .page-header__logo {
    width: 113px;
    height: 46px;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-hover .page-header__logo-tablet,
  .page-header__logo:hover .page-header__logo-tablet,
  .page-header__logo-focus .page-header__logo-tablet,
  .page-header__logo:focus .page-header__logo-tablet {
    opacity: 0.6;
  }

  .page-header__logo-active .page-header__logo-tablet,
  .page-header__logo:active .page-header__logo-tablet {
    opacity: 0.3;
  }
}

@media screen and (min-width: @desktop-width) {
  .page-header {
    position: relative;
    width: 100%;
    padding: 0;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-hover .page-header__logo-desktop,
  .page-header__logo:hover .page-header__logo-desktop,
  .page-header__logo-focus .page-header__logo-desktop,
  .page-header__logo:focus .page-header__logo-desktop {
    flex-wrap: wrap;
    opacity: 0.6;
  }

  .page-header__logo-active .page-header__logo-desktop,
  .page-header__logo:active .page-header__logo-desktop {
    opacity: 0.3;
  }
}
