.product-types__list {
  .list;

  color: #ffffff;
  font-size: 19px;
  /*font-size: 1.26666667rem*/
  font-weight: 700;
  line-height: 1.26315789em;
}

.product-types__item {
  box-sizing: border-box;
  padding-top: 8%;
  padding-bottom: 9%;
  padding-left: 9.375%;
  padding-right: 183px;
}

.product-types__item-accessories {
  background-color: @base-color;
}

.product-types__item-toys {
  background-color: @dark-base;
}
