.production {
  .flex-column;
  width: 81.25%;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 18%;
  padding: 0;
  border: 1px solid @grey-color;
}

.production__button {
  margin: 0 auto;
  margin-bottom: 10%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  box-sizing: border-box;
  font-size: 17px;
  text-decoration: none;
}

.production__title {
  margin: 0;
  position: relative;
  padding-left: 5em;
  padding-right: 2.25em;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.4;
}

.production__span {
  position: absolute;
  top: 35%;
  left: 10%;
}

.production__icon path {
  fill: @base-color;
}

.production__container {
  .indent();
  position: relative;
  margin-bottom: 8%;
}

.production__icon-controls {
  display: block;
  position: absolute;
  top: 23%;
  left: 34%;
  z-index: 20;
}

.production__icon-controls:hover {
  transform: scale(1.2);
}

.production__icon-controls:active {
  transform: scale(0.8);
  opacity: 0.3;
}

.production__video {
  .indent();
  width: 100%;
}

.production__text {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 0;
  color: @text-color;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
}


@media screen and (min-width: @tablet-width) {
  .production {
    width: 86.97%;
    margin-bottom: 10%;
    justify-content: flex-start;
  }

  .production__title {
    order: 2;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-top: -8.5%;
    padding-left: 5em;
    padding-bottom: 1em;
  }

  .production__video {
    order: 1;
    width: 100%;
    height: 455px;
    margin-bottom: 10%;
  }

  .production__icon-controls {
    top: 40%;
    left: 40%;
  }

  .production__text {
    width: 90%;
    margin-bottom: 5.2%;
    padding-top: 1em;
    order: 3;
    color: @text-color;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
  }

  .production__text-br {
    display: none;
  }

  .production__span {
    top: 30%;
    left: 7%;
  }

  .production__button {
    order: 4;
    width: 88%;
    margin: 0 auto;
    text-decoration: none;

    margin-bottom: 4%;

    font-size: 17px;
    font-weight: 700;
    line-height: 1;
  }
}

@media screen and (min-width: @desktop-width) {
  .production {
    display: block;
    width: 91.3%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 8%;
  }

  .production::after {
    content: "";
    display: table;
    clear: both;
  }

  .production__container {
    float: left;
    display: block;
    width: 65%;
    margin: 0;
    padding: 0;
  }

  .production__icon-controls {
    top: 40%;
    left: 45%;
  }


  .production__title {
    float: right;
    width: 35%;
    margin: 0;
    margin-bottom: 1.5%;
    padding: 0;
    padding-top: 9%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 20%;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
  }

  .production__span {
    top: 25%;
    left: 25%;
  }

  .production__text {
    width: 35%;
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    padding-left: 8%;
    padding-right: 5%;
    box-sizing: border-box;
    float: right;
    color: @text-color;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
  }

  .production__text-br {
    display: none;
  }

  .production__button {
    width: 22%;
    float: right;
    margin: 0;
    margin-right: 5%;
  }
}

