.reviews__item {
  margin: 0;
  margin-bottom: 12.5%;
  padding: 0;
}

.reviews__button {
  display: block;
  padding-top: 6.25%;
  padding-bottom: 6.25%;
  padding-left: 9.375%;
  padding-right: 9.375%;

  text-decoration: none;
}

.reviews__text {
  width: 95%;

  margin: 0;
  margin-bottom: 12.5%;
  padding: 0;

  color: @text-color;
  font-weight: 400;
  line-height: 2em;
}

.reviews__author-name {
  display: block;
  margin-bottom: 2%;
  text-align: left;
  font-size: 17px;
  /*font-size: 1.13333333rem;*/
  font-weight: 700;
  line-height: 1.41176471em;
}

.reviews__user-id {
  color: @text-color;
  text-align: left;
  font-weight: 400;
  line-height: 1.41176471em;
}

.reviews__toggles {
  width: 100%;
  margin-bottom: 15%;
  font-size: 0;
}

.reviews__toggle {
  display: inline-block;
  box-sizing: border-box;
  font-size: 0;
  width: 49%;
  height: 52px;
  border: 1px solid #ececec;
}
