.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: @tablet-width) {
  .wrapper {
    width: @tablet-width;
  }
}

@media screen and (min-width: @desktop-width) {
  .wrapper {
    width: @desktop-width;
    background-color: @white-color;
  }
}
